.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgreen;
}

.title {
  color: rgb(13, 12, 12);
  font-size: 50px;
  font-weight: bolder;
}

.btn {
  background-color: #1c1d19;
  border: 1px solid #a1cb23;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  width: calc(100% - 100px);
  border: 1px solid #a1cb23;
  border-radius: 8px;
}

.header {
  padding: 16px;
  align-items: center;
}

.handText {
  color: #ffffff;
  font-size: 28px;
  font-weight: bolder;
}

.dealer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 400px;
  border: 1px solid #a1cb23;
  border-radius: 8px;
  margin: 0 64px 32px 64px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 400px;
  border: 1px solid #a1cb23;
  border-radius: 8px;
  margin: 0 64px 32px 64px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
